blis
catalogue
certifi
charset-normalizer
click
cmake
colorama
confection
contextvars
cycler
cymem
dataclasses
decorator
face-alignment
face-recognition
face-recognition-models
facenet-pytorch
fastai
fastcore
fastdownload
fastprogress
idna
imageio
immutables
importlib-metadata
importlib-resources
Jinja2
joblib
kiwisolver
langcodes
llvmlite
MarkupSafe
matplotlib
murmurhash
networkx
numba
numpy
opencv-python
packaging
pandas
pathy
Pillow
preshed
pydantic
pyparsing
python-dateutil
pytz
PyWavelets
PyYAML
requests
scikit-image
scikit-learn
scipy
six
smart-open
spacy
spacy-legacy
spacy-loggers
srsly
thinc
threadpoolctl
tifffile
torch
torchvision
tqdm
typer
typing_extensions
urllib3
wasabi
zipp
